{% load i18n %}
<html>
  <head>
    <title>{% trans "My Restaurant" %}</title>
  </head>
  <body>
    <h1>{% trans "Welcome" %}</h1>
    <ul>
      <li><a href="http://localhost:8000/restaurant/server">server</a></li>
      <li><a href="http://localhost:8000/restaurant/customer">customer</a></li>
      <li><a href="http://localhost:8000/restaurant/table">table</a></li>
      <li><a href="http://localhost:8000/restaurant/order">order</a></li>
      <li><a href="http://localhost:8000/restaurant/item">item</a></li>
      <li>
        <a href="http://localhost:8000/restaurant/order_item">order_item </a>
      </li>
    </ul>
  </body>
</html>
