<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Home</title>
  </head>
  <body>
    <ul>
      <li><a href="http://localhost:8000/restaurant/server">server</a></li>
      <li><a href="http://localhost:8000/restaurant/customer">customer</a></li>
      <li><a href="http://localhost:8000/restaurant/table">table</a></li>
      <li><a href="http://localhost:8000/restaurant/order">order</a></li>
      <li><a href="http://localhost:8000/restaurant/item">item</a></li>
      <li>
        <a href="http://localhost:8000/restaurant/order_item">order_item </a>
      </li>
    </ul>
  </body>
</html>
