{% load i18n %}
<html>
  <head>
    {% comment %} Translators: Menu page title {% endcomment %}
    <title>{% trans "Menu" %}</title>
    <style>
      .menu {
        padding: 20px;
      }

      .menu-item {
        border: 1px solid black;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .menu-item img {
        width: 50%;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    {% comment %} Translators: Menu page title {% endcomment %}
    <h1>{% trans "Menu" %}</h1>
    <div class="menu">
      {% for i in items %}
      <div class="menu-item">
        {% if i.image %}
        <img src="/media/{{i.image}}" />
        {% endif %} {{ i.name }} ${{ i.price }}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
