{% load i18n %}
<html>
  <head>
    <meta charset="utf-8" />
    {% comment %} Translators: Order email title {% endcomment %}
    <title>{% trans "Thank you!" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% comment %} Translators: Order email title {% endcomment %}
    <h1>{% trans "Thank you!" %}</h1>
    <p>
      {% comment %} Translators: Order email body {% endcomment %}
      {% blocktranslate %} You have successfully completed your order. Our servers
      are now working on it! {% endblocktranslate %}
    </p>
    <p>{{table}}</p>
    <p>{{items}}</p>
  </body>
</html>
